.container{
    display: inline-block;
    background-color: #453f4d;
    width:229px;
}

.container a{
    /* a本来是行内元素，可以通过设置display:block将其转换成块级元素 */
    display:block;
    /* 块级元素如果不设置宽度，则其宽度为父容器的宽度，如果设置了宽度，则为实际设置的宽度 */
    /* 如果不设置宽度，则其宽度不会被padding影响，会自动调节 */
    /* 所以这里最好是不要设置宽度 */
    /* width:100%; */
    color: #ffffff;
    text-decoration: none;
    /* 让文字缩进2个字符 */
    text-indent: 2em;
    /* 设置height和line-height相同，可以时文字垂直居中 */
    /* 这样就可以不用padding了 */
    height: 42px;
    line-height: 42px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

/* 伪类选择器 */
.container a:hover{
    background-color: #ff6700;
}

/* .container a:last-child{
    margin-bottom: 10px;
} */