p{
    font-family: "微软雅黑,Microsoft Yahei";
    font-weight: 900;
    /* 从母元素继承 */
    font-size: inherit;
    text-align: center;
    width: 500px;
    /* 行高，2表示为当前字体大小的2倍 */
    line-height: 2;
    /* 下划线:underline */
    /* 上划线:overline */
    /* 删除线:line-through */
    text-decoration: line-through;
}