/* 最基本的属性选择器，选择具有title属性的元素 */
[title]{
    border:1px solid red;
}

/* 选择具有title属性，且title的值为"注册"的元素 */
[title="注册"]{
    width: 100px;
    height: 30px;
}

/* 所有具有href属性的链接标记为红色（不安全） */
a[href]{
    color: red;
}

/* href以http://abc.com开头的链接标记为绿色（安全） */
a[href^="http://abc.com"]{
    color: green;
}

/* title以淘宝结尾的链接去掉边框 */
a[title$="淘宝"]{
    border: none;
}

/* 选择类名为button或类型为button的input元素 */
.button,input[type="submit"]{
    background-color: #415fff;
    border: none;
}