div{
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 100px;
    margin: 10px;
}

/* +表示选择与类名为a的元素相邻的1个div元素 */
.a + div{
    background-color: rgba(255, 0, 0, 0.4);
}

/* ~表示选择与类名为a的元素相邻的所有div元素 */
.a ~ div{
    background-color: rgba(0, 255, 0, 0.4);;
}

/* 相邻选择器的顺序只能是从上到下，不能从小到上 */
/* 比如：改成.c + .b 这种选择器是不会生效的 */
.b + .c{
    background-color: rgba(0, 0, 255, 0.4);
}