<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div id="container" v-if="books.length>0">
        <table>
            <thead>
            <tr>
            <th id="rowIndex">序号</th>
            <th id="bookName">书籍名称</th>
            <th id="releaseDate">出版日期</th>
            <th id="price">价格</th>
            <th id="amount">购买数量</th>
            <th id="operate">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(book,index) in books">
                <td>{{index}}</td>
                <td>{{book.bookName}}</td>
                <td>{{book.releaseDate}}</td>
                <!--使用方法来格式化价格-->
                <!--<td>{{formatPrice(book.price)}}</td>-->
                <!--使用过滤器来格式化价格-->
                <td>{{book.price|formatPrice}}</td>
                <td>
                    <button @click="increment(index)">+</button>&nbsp;{{book.amount}}&nbsp;<button :disabled="books[index].amount<=1" @click="decrement(index)">-
                </button>
                </td>
                <td>
                    <button @click="removeBook(index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="total">总价：{{total|formatPrice}}</div>
    </div>
    <h2 v-else>购物车为空</h2>
</div>


<script src="../js/vue.js"></script>
<script src="main.js"></script>



</body>
</html>