/* 如果多个元素都有相同的样式属性，则可以直接使用相同规则，选择器中使用","逗号分隔即可 */
h1,h2,h3{
    background-color: #415fff;
}

/* 相同元素的多个样式属性可以分开写，比如h1，h2，h3都有相同的背景色，但是h1还有2个像素宽度的边框，则可以这样写 */
h1{
    border:2px solid green;
}

/* h2，h3除了有背景色，还有4个像素宽度的边框，可以另外写在这里 */
h2,h3{
    border:4px solid red;
}