body{
    margin: 0px;
}
div{
    background-color: pink;
    width: 400px;
    border: 5px solid green;
    /* border-box:content加上padding和border之后的大小才是设置的大小（比如：400*400） */
    /* box-sizing: border-box; */
    /* content-box:content就是设置的大小（比如：400*400），加上padding和border会大于设置的大小 */
    box-sizing: content-box;
    margin: 20px;
    padding: 10px;
}