body{
    margin: 0px;
}

.block{
    background-color: grey;
    /* 虽然设置了宽度为200，但是还是会占据整行，其他部分用margin填充 */
    width: 200px;
    min-height: 100px;
    display: block;
}

.inline{
    background-color: rgba(0, 255, 0, 0.2);
    display: inline;
    /* 只有所有的margin会生效，但是上下的margin不会被浏览器渲染出来，只有左右的margin才会被渲染出来 */
    margin:10px;
}

.inline-block{
    background-color: pink;
    display: inline-block;
    margin: 10px;
}