.divText {
    float: left;
    background-color: aqua;
    width: 40%;
}

.divText h4 {
    display: block;
    font-weight: 400;
    color: red;
}

.divHtml {
    float: right;
    background-color: pink;
    width: 58%;
    height: 800px;
}

.div1{
    width:200px;
    height:200px;
    background-color: red;
    /* 指定定位为相对定位 */
    position: relative;
    /* 离自己原来的位置的左和上各100px */
    left: 100px;
    top: 100px;
}

.div2{
    width: 200px;
    height: 200px;
    background-color: rgba(0,255,0,0.4);
    /* 它的父容器没有设置定位，因此以body作为参照来偏移 */
    position: absolute;
    top: 8px;
    right: 100px;
}

.div3{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.footer{
    margin: 0 auto;
    height: 60px;
    background-color: rgba(0,0,0,1);
    position: fixed;
    /* 使用了固定定位之后一定要设置宽度？ */
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: white;
    line-height: 60px;
}